## 1 - C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


## 2 - MOOS

# Log files
*.alog
*.blog
*.ylog
*.klog
*.pid
*.moos++
*._moos
*._bhv
.LastOpenedMOOSLogDirectory
MOOSLog*/

# Harness-generated mission copies and retained run evidence
.harness_runs/
.harness_runs.lock/
.parallel_*/

# Build dirs
build/
build-coverage/
bin/
lib/
portability_results/
build_matrix_results/

# Temp files (emacs, etc)
*#
*~
